<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <reports>
            <custom_order_fees>
                <enable_aggregation>0</enable_aggregation>
                <aggregation_time>00,00,00</aggregation_time>
                <aggregation_frequency>D</aggregation_frequency>
            </custom_order_fees>
        </reports>
        <tax>
            <classes>
                <custom_fee_tax_class>0</custom_fee_tax_class>
            </classes>
            <calculation>
                <custom_fees_include_tax>0</custom_fees_include_tax>
            </calculation>
            <cart_display>
                <custom_fees>1</custom_fees>
            </cart_display>
            <sales_display>
                <custom_fees>1</custom_fees>
            </sales_display>
        </tax>
        <sales>
            <totals_sort>
                <custom_fees>50</custom_fees>
            </totals_sort>
            <custom_order_fees>
                <custom_fees>[{"code":"example_fee","title":"Example Fee","type":"fixed","status":"0","advanced":"{\"show_percentage\":\"0\"}","value":"0.00"}]</custom_fees>
            </custom_order_fees>
        </sales>
    </default>
</config>
