<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <totals_sort>
                <custom_fees>50</custom_fees>
            </totals_sort>
            <custom_order_fees>
                <custom_fees>[{"code":"example_fee","title":"Example Fee","type":"fixed","status":"0","advanced":"{\"show_percentage\":\"0\"}","value":"0.00"}]</custom_fees>
            </custom_order_fees>
        </sales>
        <custom_order_fees_report>
            <aggregation>
                <enable>0</enable>
                <time>00,00,00</time>
                <frequency>D</frequency>
            </aggregation>
        </custom_order_fees_report>
    </default>
</config>
