parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Model\\\\ResourceModel\\\\Db\\\\Collection\\\\AbstractCollection\\:\\:setPeriod\\(\\)\\.$#"
			count: 1
			path: src/Block/Adminhtml/CustomOrderFees/Report/Grid.php

		-
			message: "#^Setter methods like \\$this\\(JosephLeedy\\\\CustomFees\\\\Block\\\\Sales\\\\Cart\\\\Totals\\\\CustomFees\\)\\:\\:setTemplate\\(\\) are deprecated in Block classes, use constructor arguments instead$#"
			count: 1
			path: src/Block/Sales/Cart/Totals/CustomFees.php

		-
			message: "#^Setter methods like Magento\\\\Framework\\\\View\\\\Element\\\\Template\\:\\:setTemplate\\(\\) are deprecated in Block classes, use constructor arguments instead$#"
			count: 1
			path: src/Block/Sales/Cart/Totals/CustomFees.php

		-
			message: "#^Cannot call method (g|s)et(Code|Label)\\(\\) on Magento\\\\Framework\\\\DataObject\\|null\\.$#"
			count: 6
			path: src/Block/Sales/Order/Invoice/Totals.php

		-
			message: "#^Cannot call method (g|s)et(Code|Label)\\(\\) on Magento\\\\Framework\\\\DataObject\\|null\\.$#"
			count: 6
			path: src/Block/Sales/Order/Totals.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface\\:\\:getBaseCurrency\\(\\)\\.$#"
			count: 1
			path: src/Block/System/Config/Form/Field/CustomFees.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\WebsiteInterface\\:\\:getDefaultStore\\(\\)\\.$#"
			count: 1
			path: src/Block/System/Config/Form/Field/CustomFees.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Block\\\\System\\\\Config\\\\Form\\\\Field\\\\CustomFees\\\\Advanced\\\\Form\\:\\:getConfig\\(\\) should return array\\{conditions\\?\\: array\\{type\\: class\\-string, aggregator\\: string, value\\: '0'\\|'1', conditions\\: array\\<int, array\\{type\\: class\\-string, attribute\\: string, operator\\: string, value\\: string\\}\\>\\}, show_percentage\\?\\: bool\\} but returns array\\|float\\|int\\<min, \\-1\\>\\|int\\<1, max\\>\\|non\\-falsy\\-string\\|true\\.$#"
			count: 1
			path: src/Block/System/Config/Form/Field/CustomFees/Advanced/Form.php

		-
			message: "#^Parameter \\#1 \\$form of method Magento\\\\Rule\\\\Model\\\\Condition\\\\Combine\\:\\:setJsFormObject\\(\\) expects Magento\\\\Framework\\\\Data\\\\Form, string given\\.$#"
			count: 1
			path: src/Block/System/Config/Form/Field/CustomFees/Advanced/Form.php

		-
			message: "#^Setter methods like Magento\\\\Backend\\\\Block\\\\Widget\\\\Form\\\\Renderer\\\\Fieldset\\:\\:setTemplate\\(\\) are deprecated in Block classes, use constructor arguments instead$#"
			count: 1
			path: src/Block/System/Config/Form/Field/CustomFees/Advanced/Form.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Block/System/Config/Form/Field/ImportCustomFees.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Controller\\\\Adminhtml\\\\Report\\\\CustomOrderFees\\:\\:execute\\(\\) should return Magento\\\\Framework\\\\App\\\\ResponseInterface\\|Magento\\\\Framework\\\\Controller\\\\ResultInterface but return statement is missing\\.$#"
			count: 1
			path: src/Controller/Adminhtml/Report/CustomOrderFees.php

		-
			message: "#^Call to an undefined method Magento\\\\Rule\\\\Model\\\\Condition\\\\ConditionInterface\\:\\:setAttribute\\(\\)\\.$#"
			count: 1
			path: src/Controller/Adminhtml/System/Config/CustomFees/Advanced/NewConditionHtml.php

		-
			message: "#^Cannot call method setId\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/Adminhtml/System/Config/CustomFees/Advanced/NewConditionHtml.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\<string\\>\\|string, mixed given\\.$#"
			count: 1
			path: src/Controller/Adminhtml/System/Config/CustomFees/Advanced/NewConditionHtml.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 4
			path: src/Model/Config.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Model/Config.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\Config\\:\\:getCustomOrderFeesReportAggregationFrequency\\(\\) should return 'D'\\|'M'\\|'W' but returns string\\.$#"
			count: 1
			path: src/Model/Config.php

		-
			message: "#^Use service contracts to persist entities in favour of Magento\\\\Framework\\\\App\\\\Config\\\\Value\\:\\:load\\(\\) method$#"
			count: 1
			path: src/Model/Config/Backend/CustomOrderFeesReport/AggregationCron.php

		-
			message: "#^Use service contracts to persist entities in favour of Magento\\\\Framework\\\\App\\\\Config\\\\Value\\:\\:save\\(\\) method$#"
			count: 1
			path: src/Model/Config/Backend/CustomOrderFeesReport/AggregationCron.php

		-
			message: "#^Parameter \\#1 \\$modelId of method Magento\\\\Framework\\\\Model\\\\AbstractModel\\:\\:load\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/Model/Config/Backend/CustomOrderFeesReport/AggregationCron.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Model/Config/Backend/File/ImportCustomFees.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\WebsiteInterface\\:\\:getDefaultStore\\(\\)\\.$#"
			count: 1
			path: src/Model/Config/Backend/File/ImportCustomFees.php

		-
			message: "#^Cannot cast mixed to float\\.$#"
			count: 4
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\:\\:getCode\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\:\\:getTitle\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\:\\:getPercent\\(\\) should return float\\|null but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\:\\:getShowPercentage\\(\\) should return bool but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\:\\:getBaseValue\\(\\) should return float but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\:\\:getValue\\(\\) should return float but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\\\Invoiced\\:\\:getInvoiceId\\(\\) should return int\\|null but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee/Invoiced.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\CustomOrderFee\\\\Refunded\\:\\:getCreditMemoId\\(\\) should return int\\|null but returns mixed\\.$#"
			count: 1
			path: src/Model/CustomOrderFee/Refunded.php

		-
			message: "#^Parameter \\#1 \\$items of method Magento\\\\Framework\\\\Api\\\\SearchResultsInterface\\:\\:setItems\\(\\) expects array\\<Magento\\\\Framework\\\\Api\\\\ExtensibleDataInterface\\>, array\\<Magento\\\\Framework\\\\DataObject\\> given\\.$#"
			count: 1
			path: src/Model/CustomOrderFeesRepository.php

		-
			message: "#^Parameter \\#1 \\$object of method Magento\\\\Framework\\\\Model\\\\ResourceModel\\\\Db\\\\AbstractDb\\:\\:delete\\(\\) expects Magento\\\\Framework\\\\Model\\\\AbstractModel, JosephLeedy\\\\CustomFees\\\\Api\\\\Data\\\\CustomOrderFeesInterface given\\.$#"
			count: 1
			path: src/Model/CustomOrderFeesRepository.php

		-
			message: "#^Parameter \\#1 \\$object of method Magento\\\\Framework\\\\Model\\\\ResourceModel\\\\Db\\\\AbstractDb\\:\\:load\\(\\) expects Magento\\\\Framework\\\\Model\\\\AbstractModel, JosephLeedy\\\\CustomFees\\\\Api\\\\Data\\\\CustomOrderFeesInterface given\\.$#"
			count: 2
			path: src/Model/CustomOrderFeesRepository.php

		-
			message: "#^Parameter \\#1 \\$object of method Magento\\\\Framework\\\\Model\\\\ResourceModel\\\\Db\\\\AbstractDb\\:\\:save\\(\\) expects Magento\\\\Framework\\\\Model\\\\AbstractModel, JosephLeedy\\\\CustomFees\\\\Api\\\\Data\\\\CustomOrderFeesInterface given\\.$#"
			count: 1
			path: src/Model/CustomOrderFeesRepository.php

		-
			message: "#^Cannot cast mixed to float\\.$#"
			count: 2
			path: src/Model/Quote/Tax/CustomFeeTaxDetails.php

		-
			message: "#^PHPDoc tag @var with type string is not subtype of native type mixed\\.$#"
			count: 1
			path: src/Model/ResourceModel/Report/CustomOrderFees.php

		-
			message: "#^Parameter \\#2 \\$from of method Magento\\\\Reports\\\\Model\\\\ResourceModel\\\\Report\\\\AbstractReport\\:\\:_clearTableByDateRange\\(\\) expects string\\|null, DateTimeInterface\\|string\\|null given\\.$#"
			count: 1
			path: src/Model/ResourceModel/Report/CustomOrderFees.php

		-
			message: "#^Parameter \\#3 \\$to of method Magento\\\\Reports\\\\Model\\\\ResourceModel\\\\Report\\\\AbstractReport\\:\\:_clearTableByDateRange\\(\\) expects string\\|null, DateTimeInterface\\|string\\|null given\\.$#"
			count: 1
			path: src/Model/ResourceModel/Report/CustomOrderFees.php

		-
			message: "#^Return type \\(Magento\\\\Framework\\\\Data\\\\Form\\\\Element\\\\AbstractElement\\) of method JosephLeedy\\\\CustomFees\\\\Model\\\\Rule\\\\Condition\\\\Quote\\:\\:getAttributeElement\\(\\) should be compatible with return type \\(\\$this\\(Magento\\\\Rule\\\\Model\\\\Condition\\\\AbstractCondition\\)\\) of method Magento\\\\Rule\\\\Model\\\\Condition\\\\AbstractCondition\\:\\:getAttributeElement\\(\\)$#"
			count: 1
			path: src/Model/Rule/Condition/Quote.php

		-
			message: "#^Method JosephLeedy\\\\CustomFees\\\\Model\\\\Rule\\\\Condition\\\\QuoteAddress\\:\\:getValueSelectOptions\\(\\) should return array\\{country_id\\?\\: array\\{value\\: string, label\\: Magento\\\\Framework\\\\Phrase\\}, region_id\\?\\: array\\{value\\: string, label\\: Magento\\\\Framework\\\\Phrase\\}, shipping_method\\?\\: array\\{value\\: string, label\\: Magento\\\\Framework\\\\Phrase\\}\\} but returns mixed\\.$#"
			count: 2
			path: src/Model/Rule/Condition/QuoteAddress.php

		-
			message: "#^Return type \\(Magento\\\\Framework\\\\Data\\\\Form\\\\Element\\\\AbstractElement\\) of method JosephLeedy\\\\CustomFees\\\\Model\\\\Rule\\\\Condition\\\\QuoteAddress\\:\\:getAttributeElement\\(\\) should be compatible with return type \\(\\$this\\(Magento\\\\Rule\\\\Model\\\\Condition\\\\AbstractCondition\\)\\) of method Magento\\\\Rule\\\\Model\\\\Condition\\\\AbstractCondition\\:\\:getAttributeElement\\(\\)$#"
			count: 1
			path: src/Model/Rule/Condition/QuoteAddress.php

		-
			message: "#^Parameter \\#2 \\$scope of method Magento\\\\Framework\\\\Pricing\\\\PriceCurrencyInterface\\:\\:convert\\(\\) expects bool\\|int\\|Magento\\\\Framework\\\\App\\\\ScopeInterface\\|string\\|null, Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface given\\.$#"
			count: 1
			path: src/Model/Total/Quote/CustomFees.php

		-
			message: "#^Parameter \\#4 \\$after of method Magento\\\\Framework\\\\Data\\\\Form\\\\Element\\\\Fieldset\\:\\:addField\\(\\) expects bool, string given\\.$#"
			count: 1
			path: src/Observer/AddFieldToProductAttributeEditForm.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Plugin/Sales/Api/CreditmemoRepositoryInterfacePlugin.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Plugin/Sales/Model/Order/InvoicePlugin.php

		-
			message: "#^Parameter \\#1 \\$scopeId of method Magento\\\\Framework\\\\App\\\\ScopeResolverInterface\\:\\:getScope\\(\\) expects int\\|null, string\\|null given\\.$#"
			count: 1
			path: src/Service/ConfigUpdater.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Service/InvoicedCustomFeesRecorder.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Service/RefundedCustomFeesRecorder.php

		-
			message: "#^Parameter \\#1 \\(array\\|string\\) of echo cannot be converted to string\\.$#"
			count: 1
			path: src/view/adminhtml/templates/system/config/form/field/custom_fees/advanced.phtml

		-
			message: "#^Parameter \\#1 \\(array\\|string\\) of echo cannot be converted to string\\.$#"
			count: 2
			path: src/view/adminhtml/templates/system/config/form/field/custom_fees/advanced/form/fieldset/conditions.phtml

		-
			message: "#^Call to method require\\(\\) on an unknown class Hyva\\\\Theme\\\\Model\\\\ViewModelRegistry\\.$#"
			count: 2
			path: src/view/frontend/templates/hyva/checkout/price-summary/total-segments/custom_fees.phtml

		-
			message: "#^Class Hyva\\\\Checkout\\\\ViewModel\\\\Checkout\\\\Formatter not found\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/checkout/price-summary/total-segments/custom_fees.phtml

		-
			message: "#^PHPDoc tag \\@var for variable \\$formatterViewModel contains unknown class Hyva\\\\Checkout\\\\ViewModel\\\\Checkout\\\\Formatter\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/checkout/price-summary/total-segments/custom_fees.phtml

		-
			message: "#^Call to method currency\\(\\) on an unknown class Hyva\\\\Checkout\\\\ViewModel\\\\Checkout\\\\Formatter\\.$#"
			count: 4
			path: src/view/frontend/templates/hyva/checkout/price-summary/total-segments/custom_fees.phtml

		-
			message: "#^Parameter \\#1 \\$data of method Magento\\\\Framework\\\\Escaper\\:\\:escapeHtml\\(\\) expects array\\|string, Magento\\\\Framework\\\\Phrase given\\.$#"
			count: 2
			path: src/view/frontend/templates/hyva/checkout/price-summary/total-segments/custom_fees.phtml

		-
			message: "#^Call to method require\\(\\) on an unknown class Hyva\\\\Theme\\\\Model\\\\ViewModelRegistry\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/php-cart/totals.phtml

		-
			message: "#^Call to method registerInlineScript\\(\\) on an unknown class Hyva\\\\Theme\\\\ViewModel\\\\HyvaCsp\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/php-cart/totals.phtml

		-
			message: "#^Call to method require\\(\\) on an unknown class Hyva\\\\Theme\\\\Model\\\\ViewModelRegistry\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/php-cart/totals/custom_fees.phtml

		-
			message: "#^Call to method require\\(\\) on an unknown class Hyva\\\\Theme\\\\Model\\\\ViewModelRegistry\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/php-cart/totals/js/custom_fees-js.phtml

		-
			message: "#^Call to method registerInlineScript\\(\\) on an unknown class Hyva\\\\Theme\\\\ViewModel\\\\HyvaCsp\\.$#"
			count: 1
			path: src/view/frontend/templates/hyva/php-cart/totals/js/custom_fees-js.phtml

		-
			message: "#^Parameter \\#1 \\(array\\|string\\) of echo cannot be converted to string\\.$#"
			path: *.phtml
