includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	fileExtensions:
		- php
		- phtml
	paths:
		- src/
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	tmpDir: .tmp/phpstan
	typeAliases:
		CustomOrderFeeData: '''
			array{
					code: string,
					title: string,
					type: \JosephLeedy\CustomFees\Model\FeeType|value-of<\JosephLeedy\CustomFees\Model\FeeType>,
					percent: float|null,
					show_percentage: bool,
					base_value: float,
					value: float,
			}
		'''
		CustomInvoiceFeeData: '''
			array{
					invoice_id?: int,
					code: string,
					title: string,
					type: \JosephLeedy\CustomFees\Model\FeeType|value-of<\JosephLeedy\CustomFees\Model\FeeType>,
					percent: float|null,
					show_percentage: bool,
					base_value: float,
					value: float,
			}
		'''
		CustomCreditMemoFeeData: '''
			array{
					credit_memo_id?: int,
					code: string,
					title: string,
					type: \JosephLeedy\CustomFees\Model\FeeType|value-of<\JosephLeedy\CustomFees\Model\FeeType>,
					percent: float|null,
					show_percentage: bool,
					base_value: float,
					value: float,
			}
		'''
