includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	fileExtensions:
		- php
		- phtml
	paths:
		- src/
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	tmpDir: .tmp/phpstan
