<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_catalog_product_attribute_edit_frontend_prepare_form">
        <observer name="custom_fees_add_field_to_product_attribute_edit_form" instance="JosephLeedy\CustomFees\Observer\AddFieldToProductAttributeEditForm"/>
    </event>
</config>
