<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="custom_fees" frontName="custom_fees">
            <module name="JosephLeedy_CustomFees"/>
        </route>
    </router>
</config>
