<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="totals_sort">
                <field id="custom_fees" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Custom Fees</label>
                    <validate>required-number validate-number</validate>
                </field>
            </group>
            <group id="custom_order_fees" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Order Fees</label>
                <field id="custom_fees" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom Fees</label>
                    <frontend_model>JosephLeedy\CustomFees\Block\System\Config\Form\Field\CustomFees</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[<strong>Note:</strong> Fee amount is relative to the store's base currency and will be converted to the customer's selected currency.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
