<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="totals_sort">
                <field id="custom_fees" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Custom Fees</label>
                    <validate>required-number validate-number</validate>
                </field>
            </group>
            <group id="custom_order_fees" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Order Fees</label>
                <field id="custom_fees" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom Fees</label>
                    <frontend_model>JosephLeedy\CustomFees\Block\System\Config\Form\Field\CustomFees</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[<strong>Note:</strong> Fixed fee amount is relative to the store's base currency and will be converted to the customer's selected currency. Percent fees are based on an order's subtotal.]]></comment>
                </field>
                <field id="import_custom_fees" translate="label comment" type="file" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Import Custom Fees</label>
                    <frontend_model>JosephLeedy\CustomFees\Block\System\Config\Form\Field\ImportCustomFees</frontend_model>
                    <backend_model>JosephLeedy\CustomFees\Model\Config\Backend\File\ImportCustomFees</backend_model>
                    <comment><![CDATA[Import custom fees from a CSV spreadsheet. <a href="{{exampleCsvUrl}}">Example file</a>]]></comment>
                </field>
                <group id="report" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Custom Order Fees Report</label>
                    <field id="enable_aggregation" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <config_path>custom_order_fees_report/aggregation/enable</config_path>
                        <label>Automatically Aggregate Data</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <backend_model>JosephLeedy\CustomFees\Model\Config\Backend\CustomOrderFeesReport\AggregationCron</backend_model>
                    </field>
                    <field id="aggregation_time" translate="label" type="time" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <config_path>custom_order_fees_report/aggregation/time</config_path>
                        <label>Aggregation Start Time</label>
                        <depends>
                            <field id="enable_aggregation">1</field>
                        </depends>
                    </field>
                    <field id="aggregation_frequency" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <config_path>custom_order_fees_report/aggregation/frequency</config_path>
                        <label>Aggregation Frequency</label>
                        <depends>
                            <field id="enable_aggregation">1</field>
                        </depends>
                        <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
