<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="custom_fees_config_provider" xsi:type="object">JosephLeedy\CustomFees\Model\Checkout\ConfigProvider\CustomFees</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Api\Data\TotalsInterface">
        <plugin name="add_custom_fees_total_segment" type="JosephLeedy\CustomFees\Plugin\Quote\Api\Data\TotalsInterfacePlugin"/>
    </type>
</config>
